.h2 {
    text-align: center;
    }

.image {
  float: left;
  margin-right:10px;
}

.item{
    width:200px;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
    }

.gallery{
    width:465px;
    }
